{% extends "layout.html" %}

{% block page_title %}
  {{ language.address_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "probate/includes/breadcrumb_probate.html" %}

  <form action="/probate/address" method="post" class="form">
    <h1 class="form-title heading-large">
      Who is the deceased?
    </h1>
	<div class="form-group">
	   <label class="form-label-bold" for="full-name">Was the deceased domiciled in England or Wales?</label>
      <fieldset class="inline">
			<legend class="visuallyhidden">Was the deceased domiciled in England or Wales</legend>
			<label class="block-label" for="radio-inline-1">
				<input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">Yes
			</label>
			<label class="block-label" for="radio-inline-2">
				<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">No
			</label>
		</fieldset>
    </div>
    <!-- Deceased details -->
    <div class="form-group">
	  <label class="form-label-bold" for="full-name">What was the deceased last known address?</label>
	  <!-- forename -->
      <label class="form-label-bold" for="full-name">Postcode</label>
      <input type="text" class="form-control" id="forename" name="forename">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

</main>
{% endblock %}
