{% extends "layout.html" %}

{% block page_title %}
  {{ messages.address_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">

  <form action="/probate/address" method="post" class="form">
    <h1 class="form-title heading-large">
      {{messages.address_header}}
    </h1>
	<div class="form-group">
	    <legend class="form-label-bold">{{messages.address_question_1}}</legend>
      <p class="form-hint">{{messages.address_question_hint_1}}</p>
      <fieldset class="inline">
			<legend class="visuallyhidden">{{address_question_1}}</legend>
			<label class="block-label" for="radio-address-england-yes">
				<input id="radio-address-england-yes" type="radio" name="radio_address_england_group" value="Yes"
                {{ "checked='checked'" if form.address.radio_address_england_group =="Yes" }}>Yes
			</label>
			<label class="block-label" for="radio-address-england-no">
				<input id="radio-address-england-no" type="radio" name="radio_address_england_group" value="No"
                {{ "checked='checked'" if form.address.radio_address_england_group =="No" }}>No
			</label>
		</fieldset>
    </div>
    <!-- Deceased details -->
    <div class="form-group">
	    <label class="form-label-bold" for="last-address">{{messages.address_question_2}}</label>
      <p class="form-hint">{{messages.address_question_hint_2}}</p>
    </div> 

    <div class="form-group">
          <label for="postcode">Postcode</label>
          <input type="text" class="form-control form-control-1-8" id="postcode" name="postcode">
          <input type="submit" value="Find UK address">
    </div>
    <div class="form-group">
        <label for="last-address">Select address</label>
        <select id="last-address" class="form-control form-control-1-3" name="deceased_last_address">
          <option>Buckingham palace road</option>
          <option>Petty France</option>
        </select>
    </div> 
            
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>



</main>
{% endblock %}
