{% extends "layout.html" %}

{% block page_title %}
  {{ messages.address_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "probate/includes/error_summary.html" %}
  <form action="/probate/address" method="post" class="form">
    <h1 class="form-title heading-large">
      {{messages.address_question_1}}
    </h1>
	<div class="form-group">
	<!--    <legend class="form-label">{{messages.address_question_1}}</legend> -->
      <p class="form-hint">{{messages.address_question_hint_1}}</p>
      <fieldset class="inline">
			<legend class="visuallyhidden">{{address_question_1}}</legend>
			<label class="block-label" for="radio-address-england-yes" data-target="address-details">
				<input id="radio-address-england-yes" type="radio" name="radio_address_england_group" value="Yes"
                {{ "checked='checked'" if form.address.radio_address_england_group =="Yes" }}>Yes
			</label>
			<label class="block-label" for="radio-address-england-no">
				<input id="radio-address-england-no" type="radio" name="radio_address_england_group" value="No"
                {{ "checked='checked'" if form.address.radio_address_england_group =="No" }}>No
			</label>
		</fieldset>
    </div>
    <!-- Deceased address details -->
    <div class="panel panel-border-narrow {{ '' if form.address.radio_address_england_group =='Yes' else 'js-hidden' }}" 
        id="address-details">
      <div class="form-group">
	     <label class="form-label" for="last-address">{{messages.address_question_2}}</label>
        <p class="form-hint">{{messages.address_question_hint_2}}</p>
      </div> 
      {% import "probate/includes/addresslookup.html" as addresslookup %}
      {{addresslookup.address(form.form_action,form.address.postcode,form.address.address)}}
    </div>
              
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>



</main>
{% endblock %}
