{% extends "layout.html" %}

{% block page_title %}
  {{ messages.applicant_title }}
{% endblock %}

{% block content %}

{% import "probate/widgets/formelements.html" as formelements %}
{% import "probate/widgets/addresslookup.html" as addresslookup %}

<main id="content" role="main">
	{% include "probate/includes/error_summary.html" %}
	<form action="/probate/applicant" method="post" class="form">
		<h1 class="form-title heading-large">{{messages.applicant_header}}</h1>
		<p class="form-hint">{{messages.applicant_header_hint}}</p>
		
		<!-- Applicant details -->
		{{formelements.inputtext(messages.applicant_firstname_question,'applicant_firstname',form.applicant.applicant_firstname)}}

		{{formelements.inputtext(messages.applicant_lastname_question,'applicant_lastname',form.applicant.applicant_lastname)}}

		{{addresslookup.address(form.form_action,form.applicant.postcode,form.applicant.address)}}

		{{formelements.inputtext(messages.applicant_home_phone_number_question,
									'applicant_home_phone_number',form.applicant.applicant_home_phone_number)}}

		{{formelements.inputtext(messages.applicant_mobilework_phone_number_question,
									'applicant_mobilework_phone_number',form.applicant.applicant_mobilework_phone_number)}}

		{{formelements.inputtext(messages.applicant_email_address_question,
									'applicant_email_address',form.applicant.applicant_email_address)}}

		{{formelements.inputtext(messages.applicant_relationship_deceased,
									'applicant_relationship_deceased',form.applicant.applicant_relationship_deceased)}}
		<div class="form-group">
			<input type="submit" class="button" value="Continue">
		</div>
	</form>
</main>
{% endblock %}
					