{% extends "layout.html" %}

{% block page_title %}
  {{ messages.nameanddate_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
	{% include "probate/includes/error_summary.html" %}
	<form action="/probate/dateofdeath" method="post" class="form">
		<h1 class="form-title heading-large">{{messages.nameanddate_question_4}}</h1>

		<!-- Date of death -->
		<div class="form-group">
			<fieldset>
				<p class="form-hint">{{messages.nameanddate_death_question_date_hint}}</p>
				<div class="form-date">
					<div class="form-group form-group-day">
						<label for="death-day">Day</label>
						<input class="form-control" id="death-day" type="number" pattern="[0-9]*" min="0" max="31"
								name="deceased_death_day" value="{{form.nameanddate.deceased_death_day}}">
					</div>
					<div class="form-group form-group-month">
						<label for="death-month">Month</label>
						<input class="form-control" id="death-month" type="number" pattern="[0-9]*" min="0" max="12"
								name="deceased_death_month" value="{{form.nameanddate.deceased_death_month}}">
					</div>
					<div class="form-group form-group-year">
						<label for="death-year">Year</label>
						<input class="form-control" id="death-year" type="number" pattern="[0-9]*" min="0" max="2016"
								name="deceased_death_year" value="{{form.nameanddate.deceased_death_year}}">
					</div>
				</div>
			</fieldset>
		</div>
		<div class="form-group">
			<input type="submit" class="button" value="Continue">
		</div>
	</form>
</main>
{% endblock %}
					