
{% extends "layout.html" %}

{% block page_title %}
  {{ messages.executors_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <form action="/probate/executorsnotapplying" method="post" class="form">
  <h1 class="form-title heading-large">{{messages.executorsnotapplying_question_listall}}</h1>
    <div class="form-group">
         <fieldset>
           <label for="checkbox-executor-1" class="block-label">
           {% set executor1_fullname = form.applicant.applicant_firstname +' '+ form.applicant.applicant_lastname %}
             <input id="checkbox-executor-1" type="checkbox" name="checkbox_executors_notapplying_group" 
             		value="{{executor1_fullname}}" disabled="disabled">
             <span>{{executor1_fullname}}</span><br>
           </label>
           {% for executor in form.executors %}
        {% set executor_fullname = executor.executor_firstname +' '+ executor.executor_lastname %}
		<label for="checkbox-executor-{{loop.index +1}}" class="block-label" data-target="executors{{loop.index +1}}-details">
             <input id="checkbox-executor-{{loop.index +1}}" type="checkbox" name="executors[{{loop.index}}][executor_notapplying]" 
             		value="{{executor_fullname}}"
             		{{ "checked=checked" if executor.executor_notapplying }}>
             <span>{{executor_fullname}}</span><br>
           </label>
           <input type="hidden" name="executors[{{loop.index}}][executor_firstname]" value="{{executor.executor_firstname}}">
           <input type="hidden" name="executors[{{loop.index}}][executor_lastname]" value="{{executor.executor_lastname}}">
	       <div class="panel panel-border-narrow {{ '' if executor.executor_notapplying else 'js-hidden' }}" 
	       		id="executors{{loop.index +1}}-details">
			  <div class="form-group">
			  	{% set notApplyingReason = executor.executor_notapplying_reason %}
  			     <legend class="form-label">{{messages.executorsnotapplying_question_reason}}</legend><br>
  			     <fieldset>
					<label for="radio-executor-died-before-{{loop.index}}" class="block-label">
						<input id="radio-executor-died-before-{{loop.index}}" type="radio" name="executors[{{loop.index}}][executor_notapplying_reason]" 
						value="{{messages.executorsnotapplying_radio_diedbefore}}"
						{{ "checked='checked'" if notApplyingReason ==messages.executorsnotapplying_radio_diedbefore }}>
						<span>{{messages.executorsnotapplying_radio_diedbefore}}</span><br>
					</label>
					<label for="radio-executor-died-after-{{loop.index}}" class="block-label">
						<input id="radio-executor-died-after-{{loop.index}}" type="radio" name="executors[{{loop.index}}][executor_notapplying_reason]" 
						value="{{messages.executorsnotapplying_radio_diedafter}}"
						{{ "checked='checked'" if notApplyingReason ==messages.executorsnotapplying_radio_diedafter }}>
						<span>{{messages.executorsnotapplying_radio_diedafter}}</span><br>
					</label>
					<label for="radio-executor-reserved-{{loop.index}}" class="block-label">
						<input id="radio-executor-reserved-{{loop.index}}" type="radio" name="executors[{{loop.index}}][executor_notapplying_reason]" 
						value="{{messages.executorsnotapplying_radio_reserved}}"
						{{ "checked='checked'" if notApplyingReason ==messages.executorsnotapplying_radio_reserved }}>
						<span>{{messages.executorsnotapplying_radio_reserved}}</span><br>
					</label>
					<label for="radio-executor-renunciation-{{loop.index}}" class="block-label">
						<input id="radio-executor-renunciation-{{loop.index}}" type="radio" name="executors[{{loop.index}}][executor_notapplying_reason]" 
						value="{{messages.executorsnotapplying_radio_renunciation}}"
						{{ "checked='checked'" if notApplyingReason ==messages.executorsnotapplying_radio_renunciation }}>
						<span>{{messages.executorsnotapplying_radio_renunciation}}</span><br>
					</label>
					<label for="radio-executor-attorney-{{loop.index}}" class="block-label">
						<input id="radio-executor-attorney-{{loop.index}}" type="radio" name="executors[{{loop.index}}][executor_notapplying_reason]" 
						value="{{messages.executorsnotapplying_radio_attorney}}"
						{{ "checked='checked'" if notApplyingReason ==messages.executorsnotapplying_radio_attorney }}>
						<span>{{messages.executorsnotapplying_radio_attorney}}</span><br>
					</label>
				  </fieldset>
			  </div>
           </div>
        	{% endfor %}


         </fieldset>
    </div>
	<div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

</main>
{% endblock %}
