{% extends "layout.html" %}

{% block page_title %}
  {{ messages.executors_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <form action="/probate/executors" method="post" class="form">
	<div class="form-group">
	   <legend class="form-label-bold">{{messages.executors_question_1}}</legend>
	   <table>
    	<tbody>
      		<tr>
      		  <td colspan="2">Executor 1</td>
      		  <td colspan="2">{{form.applicant.applicant_firstname}} {{form.applicant.applicant_lastname}}</td>
      		</tr>
      	{% if form.executors.executor_lastname %}
      		<tr>
      		  <td colspan="2">Executor 2</td>
      		  <td colspan="2">{{form.executors.executor_firstname}} {{form.executors.executor_lastname}}</td>
      		</tr>
		{% endif %}
      	</tbody>
       </table>
    </div>
    	<div class="form-group {{'' if form.executors.addexecutor and not form.executors.executor_firstname else 'visuallyhidden'}}">
			<!-- First Name -->
			<legend class="form-label-bold">{{messages.nameanddate_question_1}}</legend>
			<p class="form-hint">{{messages.nameanddate_question_hint_1}}</p>
			<label class="form-label-bold" for="executor_firstname">Firstname</label>
			<input type="text" class="form-control" id="executor_firstname" name="executor_firstname" value="{{form.executors.executor_firstname}}">
		</div>	
    	<div class="form-group {{'' if form.executors.addexecutor and not form.executors.executor_firstname else 'visuallyhidden'}}">
			<!-- Last Name -->
			<label class="form-label-bold" for="executor_lastname">Last name</label>
			<input type="text" class="form-control" id="executor_lastname" name="executor_lastname" value="{{form.executors.executor_lastname}}">
		</div>
		{% if form.executors.addexecutor and not form.executors.executor_firstname %}
		<div class="form-group">
    		<label class="link">
    			<input class="visuallyhidden" type="submit" name="addexecutor" value="addexecutor">
   	 			Add Executor
    		</label>
    	</div>
    {% endif %}	
	{% if not (form.executors.executor_firstname or form.executors.addexecutor ) %}
		<div class="form-group">
    		<label class="link">
    			<input class="visuallyhidden" type="submit" name="addexecutor" value="addexecutor">
   	 			{{messages.executors_link_add_executor}}
    		</label>
    	</div>
    {% endif %}

	<div class="form-group">
      <input type="submit" class="button" name="continue" value="Continue">
    </div>
  </form>

</main>
{% endblock %}
