{% extends "layout_unbranded.html" %}

{% block page_title %}
  Welcome
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
 About this prototype
  </h1>
<p>This prototype is based on requirements captured from interviews with applicants and business needs from the probate registries.</p>
<p>It is the first step to create a simpler, streamlined online probate application process.<p>
<h2 class="heading-small">What this prototype covers</h2>
<p>This covers a simple personal application, where:<p>
<ul class="list list-bullet">

<li>the probate applicant is one of two executors named in his mother’s will, the other executor is not applying</li>
<li>the applicant has the death certificate and the original will, there are no codicils</li>
<li>his mother lived in England and was a widow</li>
<li>no inheritance tax was payable, he completed the correct forms online and he received an IHT identifier code</li>
</ul>
<p ><em>For the purpose of testing this prototype please answer the questions as if you are the person above.</em></p>
<h2 class="heading-small">What it doesn’t cover</h2>

This prototype doesn't cover more complex applications. If you select an area that is not covered yet you will see an error page - from there you will be able to continue.<br><br>
 <p>
   <a class="button button-start" href="/probate/applicant" role="button">View the prototype</a>
 </p>

</main>

{% endblock %}
