{% extends "layout.html" %}

{% block page_title %}
  {{ messages.maritalstatus_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <form action="/probate/maritalstatus" method="post" class="form">
    <h1 class="form-title heading-large">{{messages.maritalstatus_header}}</h1>
	<div class="form-group">
	   <legend class="form-label-bold">{{messages.maritalstatus_question_1}}</legend>
	   <p class="form-hint">{{messages.maritalstatus_question_hint_1}}</p>
       <fieldset>
           <label for="radio-bachelor" class="block-label">
             <input id="radio-bachelor" type="radio" name="radio_marital_group" value="{{messages.maritalstatus_radio_1}}"
                      {{ "checked='checked'" if form.maritalstatus.radio_marital_group ==messages.maritalstatus_radio_1 }}>
             <span class="heading-small">{{messages.maritalstatus_radio_1}}</span><br>
           </label>
           <label for="radio-widow" class="block-label">
             <input id="radio-widow" type="radio" name="radio_marital_group" value="{{messages.maritalstatus_radio_2}}"
                      {{ "checked='checked'" if form.maritalstatus.radio_marital_group ==messages.maritalstatus_radio_2 }}>
             <span class="heading-small">{{messages.maritalstatus_radio_2}}</span><br>
             <p class="form-hint">{{messages.maritalstatus_radio_hint_2}}</p>
           </label>
		      <label for="radio-married" class="block-label">
             <input id="radio-married" type="radio" name="radio_marital_group" value="{{messages.maritalstatus_radio_3}}"
                      {{ "checked='checked'" if form.maritalstatus.radio_marital_group ==messages.maritalstatus_radio_3 }}>
             <span class="heading-small">{{messages.maritalstatus_radio_3}}</span><br>
             <p class="form-hint">{{messages.maritalstatus_radio_hint_3}}</p>
           </label>
		      <label for="radio-divorced" class="block-label">
             <input id="radio-divorced" type="radio" name="radio_marital_group" value="{{messages.maritalstatus_radio_4}}"
                    {{ "checked='checked'" if form.maritalstatus.radio_marital_group ==messages.maritalstatus_radio_4 }}>
             <span class="heading-small">{{messages.maritalstatus_radio_4}}</span><br>
           </label>
		      <label for="radio-separated" class="block-label" data-target="separation-details">
             <input id="radio-separated" type="radio" name="radio_marital_group" value="{{messages.maritalstatus_radio_5}}"
                      {{ "checked='checked'" if form.maritalstatus.radio_marital_group ==messages.maritalstatus_radio_5 }}>
             <span class="heading-small">{{messages.maritalstatus_radio_5}}</span><br>
             <p class="form-hint">{{messages.maritalstatus_radio_hint_5}}</p>
           </label>
       </fieldset>
    </div>
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

</main>
{% endblock %}
