{% extends "layout.html" %}

{% block page_title %}
  {{ messages.nameanddate_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "probate/includes/breadcrumb_probate.html" %}
	<form action="/probate/nameanddate" method="post" class="form">
		<h1 class="form-title heading-large">Who he is the deceased?</h1>
		<!-- Deceased details -->
		<div class="form-group">
			<!-- full name -->
			<label class="form-label-bold" for="input-deceased-full-name">Their name</label>
			<p class="form-hint">This is must appear exactly as it written on the death certificate</p>
			<input type="text" class="form-control" id="input-deceased-full-name" name="deceased_full_name" value="{{form.nameanddate.deceased_full_name}}">
		</div>
		<div class="form-group">
			<legend class="form-label-bold">Is this the same as it appears on the will?</legend>
			<fieldset class="inline">
				<legend class="visuallyhidden">Is this the same as it appears on the will</legend>
				<label class="block-label" for="radio-will-name-yes">
					<input id="radio-will-name-yes" type="radio" name="radio_will_name_group" value="Yes">Yes
				</label>
				<label class="block-label" for="radio-will-name-no">
					<input id="radio-will-name-no" type="radio" name="radio_will_name_group" value="No">No
				</label>
			</fieldset>
		</div>
		<div class="form-group">
			<legend class="form-label-bold">Are any other names needed on the Grant?</legend>
			<fieldset class="inline">
				<legend class="visuallyhidden">Is this the same as it appears on the will</legend>
				<label class="block-label" for="radio-other-names-yes">
					<input id="radio-other-names-yes" type="radio" name="radio_other_names_group" value="Yes">Yes
				</label>
				<label class="block-label" for="radio-other-names-no">
					<input id="radio-other-names-no" type="radio" name="radio_other_names_group" value="No">No
				</label>
			</fieldset>
		</div>
		<div class="form-group">
			<input type="submit" class="button" value="Continue">
		</div>
	</form>
</main>
{% endblock %}
					