{% extends "layout.html" %}

{% block page_title %}
  
{% endblock %}

{% block content %}
<main id="content" role="main">


  <form action="/probate/stop" method="post" class="form">
    <h1 class="form-title heading">
      <br>
      <br>
    	{{reason}}
      <p>
    	You cannot complete the application online at this time.</p>
      <br>
      <p>continue will the  prototype </p>
    </h1>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
      <input type="hidden" name="return_page" value="{{returnpage}}">
    </div>
  </form>

</main>
{% endblock %}
