{% extends "layout.html" %}

{% block page_title %}
  {{ messages.summary_title }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers
  </h1>

  <table class="check-your-answers">
    <tbody>
    <!-- applicant -->
      <tr>
        <th colspan="3"><span class="heading-medium">{{messages.applicant_header}}</span></th>
      </tr>
      <tr>
        <td>{{messages.applicant_firstname_question}}<br>
            {{messages.applicant_lastname_question}}<br>
            {{messages.applicant_home_phone_number_question}}<br>
            {{messages.applicant_mobilework_phone_number_question}}<br>
            {{messages.applicant_email_address_question}}<br>
            {{messages.applicant_relationship_deceased}}</td>
        <td>{{form.applicant.applicant_firstname}}<br>
            {{form.applicant.applicant_lastname}}<br>
            {{form.applicant.applicant_home_phone_number}}<br>
            {{form.applicant.applicant_mobilework_phone_number}}<br>
            {{form.applicant.applicant_email_address}}<br>
            {{form.applicant.applicant_relationship_deceased}}</td>
        <td class="change-answer"><a href="/probate/applicant">Change 
          <span class="visuallyhidden">change applicant details</span></a>
        </td>
      </tr>
      <tr>
      <!-- nameanddate -->
      <tr>
        <th colspan="3"><span class="heading-medium">The person who has died</span></th>
      </tr>
      <tr>
        <td>{{messages.nameanddate_question_firstname}}<br>
            {{messages.nameanddate_question_lastname}}<br>
            {{messages.nameanddate_question_2}}<br>
            {{messages.nameanddate_question_3}}<br>
            {{messages.nameanddate_question_4}}</td>
        <td>{{form.nameanddate.deceased_firstname}}<br>
            {{form.nameanddate.deceased_lastname}}<br>
            {{form.nameanddate.radio_other_names_group}}<br>
            {{form.dateofbirth.deceased_dob_day +"/"+ form.dateofbirth.deceased_dob_month +"/"+ form.dateofbirth.deceased_dob_year}}<br>
            {{form.dateofdeath.deceased_death_day +"/"+ form.dateofdeath.deceased_death_month +"/"+ form.dateofdeath.deceased_death_year}}</td>
        <td class="change-answer"><a href="/probate/nameanddate">Change 
          <span class="visuallyhidden">change names and dates</span></a>
        </td>
      </tr>
      <tr>
      <!-- address -->
      <tr>
        <td>{{messages.address_question_1}}<br>
            {{messages.address_question_2}}</td>
        <td>{{form.address.radio_address_england_group}}<br>
            {{form.address.address}}</td>
        <td class="change-answer"><a href="/probate/address">Change 
          <span class="visuallyhidden">change address details</span></a>
        </td>
      </tr>
      <!-- maritalstatus -->
      <tr>
        <td>{{messages.maritalstatus_question_1}}</td>
        <td>{{form.maritalstatus.radio_marital_group}}</td>
        <td class="change-answer"><a href="/probate/maritalstatus">Change 
          <span class="visuallyhidden">change marital status</span></a>
        </td>
      </tr>
      <!-- will -->
      <tr>
        <th colspan="3"><span class="heading-medium">The will</span></th>
      </tr>
      <tr>
        <td>{{messages.will_question_1}}<br>
            {% if form.will.radio_will_group == "Yes" %}
              {{messages.will_question_2}}<br>
              {{messages.will_question_3}}<br>
            {% endif %}
              {{messages.will_question_4}}<br>
              {{messages.will_question_5}}</td>
        <td>{{form.will.radio_will_group}}<br> 
            {% if form.will.radio_will_group == "Yes" %}
              {{form.will.radio_will_original_group}}<br>
              {{form.will.will_day +"/"+ form.will.will_month +"/"+ form.will.will_year}}<br>
            {% endif %}
              {{form.will.radio_will_address_group}}<br>
              {{form.will.radio_codicil_group}}</td>
        <td class="change-answer"><a href="/probate/will">Change 
          <span class="visuallyhidden">change will details</span></a>
        </td>
      </tr>
      <tr><!-- executors -->
        <th colspan="3"><span class="heading-medium">The executors</span></th>
      </tr>
      <tr>
      <tr>
        <td>{{messages.applicant_executor_question}}</td>
        <td>{{form.isexecutor.radio_applicant_executor_group}}</td>
        <td class="change-answer"><a href="/probate/isexecutor">Change 
          <span class="visuallyhidden">change executor details</span></a>
        </td>
      </tr>
        <td>Executor 1<br>
            {% for executor in form.executors %}Executor {{loop.index +1}}<br>{% endfor %}</td>
        <td>{{form.applicant.applicant_firstname}} {{form.applicant.applicant_lastname}}<br>
            {% for executor in form.executors %}
              {{executor.executor_firstname}} {{executor.executor_lastname}}<br>
            {% endfor %}</td>
        <td class="change-answer"><a href="/probate/executors">Change 
          <span class="visuallyhidden">change executor details</span></a>
        </td>
      </tr>
      <tr>
        <th colspan="3"><span>Executors not applying</span></th>
      </tr>
      <tr>
        <td>{% for executor in form.executors %}{% if executor.executor_notapplying %}
              {{executor.executor_notapplying}}<br>
            {% endif %}{% endfor %}</td>
        <td>{% for executor in form.executors %}{% if executor.executor_notapplying %}
              {{executor.executor_notapplying_reason}}<br>
            {% endif %}{% endfor %}</td>
        <td class="change-answer"><a href="/probate/executorsnotapplying">Change 
          <span class="visuallyhidden">change non applying executors details</span></a>
        </td>
      </tr>
      <!-- iht -->
      <tr>
        <th colspan="3"><span class="heading-medium">Inheritance tax</span></th>
      </tr>
      <tr>
        <td>{{messages.iht_question_1}}<br>
            {% if form.iht.radio_iht_group == "Yes" %}   
                {{messages.iht_question_2}}<br>
                {{messages.iht_question_3}}<br>
                {{messages.iht_question_4}}
            {% endif %}</td>
        <td>{{form.iht.radio_iht_group}}<br>
            {% if form.iht.radio_iht_group == "Yes" %}   
               {{form.iht.input_iht_id}}<br>
               {{form.iht.input_iht_gross}}<br>
               {{form.iht.input_iht_net}}
            {% endif %}</td>
        <td class="change-answer"><a href="/probate/iht">Change 
          <span class="visuallyhidden">change inheritence tax details</span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

  <div class="form-group">
    <a href="nextsteps" class="button">Continue</a>
  </div>

</main>

{% endblock %}
