{% extends "layout_unbranded.html" %}

{% block page_title %}
  Example without branding
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-xlarge">
 Introduction
  </h1>
  <p class="lede">
    This prototype is based on requirements captured from interviews with applicants, and business needs from the probate registries. 
</p>
<p>It is a first step to improve the probate application process and create a simpler, streamlined online journey. The prototype covers a simple probate application, which will be improved, following testing and feedback.<p>

<p>The user journey that this prototype covers is:<p>
<ul class="list list-bullet">

<li>the person completing this form is a personal applicant and the sole executor named in their mother’s will</li>
<li>the mother resided in England, and was a widow</li>
<li>due to the value of the estate no inheritance tax was payable and the correct forms were completed</li>
</ul>
<p>
Areas that this prototype does not currently cover will be greyed out, and will be added at a later date.</pp>


 
 <p>
   <a class="button button-start" href="/probate/applicant" role="button">Start</a>
 </p>

</main>

{% endblock %}
