{% extends "layout_unbranded.html" %}

{% block page_title %}
  Welcome
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-medium">
 We have identified the journey to apply for probate may include the following:
  </h1>
<br>
<br>
<ul class="list  list-bullet">

<li>Before you start</li>
<li>Register</li>
<li>The application <span class = "bold-small">DEMOSTRATED IN THIS PROTOTYPE</span></li>
<li>Fee calculator</li>
<li>Payment</li>
<li>Statement of truth</li>
<li>Review and submit</li>
</ul>
<br>
<br>
<br>
 <p>
   <a class="button button-start" href="/probate/intro" role="button">View the prototype</a>
 </p>

</main>

{% endblock %}
