{% extends "layout.html" %}

{% block page_title %}
  {{ messages.will_title }}
{% endblock %}

{% block content %}
<main id="content" role="main">
  <form action="/probate/will" method="post" class="form">
    <h1 class="form-title heading-large">
{{messages.will_question_1}}
    </h1>
	<div class="form-group">
      <fieldset class="inline">
			<legend class="visuallyhidden">{{messages.will_question_1}}</legend>
			<label class="block-label" for="radio-will-yes" data-target="will-details">
				<input id="radio-will-yes" type="radio" name="radio_will_group" value="Yes"
						{{ "checked='checked'" if form.will.radio_will_group =="Yes" }}>Yes
			</label>
			<label class="block-label" for="radio-will-no">
				<input id="radio-will-no" type="radio" name="radio_will_group" value="No"
						{{ "checked='checked'" if form.will.radio_will_group =="No" }}>No
			</label>
		</fieldset>
    </div>
    <div class="panel panel-border-narrow {{ '' if form.will.radio_will_group =='Yes' else 'js-hidden' }}" id="will-details">
		<div class="form-group">
		   <legend class="form-label">{{messages.will_question_2}}</legend>
    	  <fieldset class="inline">
				<legend class="visuallyhidden">{{messages.will_question_2}}</legend>
				<label class="block-label" for="radio-will-original-yes">
					<input id="radio-will-original-yes" type="radio" name="radio_will_original_group" value="Yes"
							{{ "checked='checked'" if form.will.radio_will_original_group =="Yes" }}>Yes
				</label>
				<label class="block-label" for="radio-will-original-no">
					<input id="radio-will-original-no" type="radio" name="radio_will_original_group" value="No"
							{{ "checked='checked'" if form.will.radio_will_original_group =="No" }}>No
				</label>
			</fieldset>
    	</div>
		<!-- Date of the will -->
		<div class="form-group">
			<fieldset>
				<label class="form-label" for="will-day">{{messages.will_question_3}}</label>
				<p class="form-hint">{{messages.will_question_hint_3}}</p>
				<p class="form-hint">{{messages.will_date_question_hint}}</p>
				<div class="form-date">
					<div class="form-group form-group-day">
						<label for="will-day">Day</label>
						<input class="form-control" id="will-day" type="number" pattern="[0-9]*" min="0" max="31"
								name="will_day" value="{{form.will.will_day}}">
					</div>
					<div class="form-group form-group-month">
						<label for="will-month">Month</label>
						<input class="form-control" id="will-month" type="number" pattern="[0-9]*" min="0" max="12"
								name="will_month" value="{{form.will.will_month}}">
					</div>
					<div class="form-group form-group-year">
						<label for="will-year">Year</label>
						<input class="form-control" id="will-year" type="number" pattern="[0-9]*" min="0" max="2016"
								name="will_year" value="{{form.will.will_year}}">
					</div>
				</div>
			</fieldset>
		</div>
	</div>    	
	<div class="form-group">
	   <legend class="form-label">{{messages.will_question_5}}</legend>
	   <p class="form-hint">{{messages.will_question_hint_5}}</p>
      <fieldset class="inline">
			<legend class="visuallyhidden">{{messages.will_question_5}}</legend>
			<label class="block-label" for="radio-codicil-yes">
				<input id="radio-codicil-yes" type="radio" name="radio_codicil_group" value="Yes"
						{{ "checked='checked'" if form.will.radio_codicil_group =="Yes" }}>Yes
			</label>
			<label class="block-label" for="radio-codicil-no">
				<input id="radio-codicil-no" type="radio" name="radio_codicil_group" value="No"
						{{ "checked='checked'" if form.will.radio_codicil_group =="No" }}>No
			</label>
		</fieldset>
    </div>
    <div class="form-group">
	   <legend class="form-label">{{messages.will_question_4}}</legend>
      <fieldset class="inline">
			<legend class="visuallyhidden">{{messages.will_question_4}}</legend>
			<label class="block-label" for="radio-will-address-yes">
				<input id="radio-will-address-yes" type="radio" name="radio_will_address_group" value="Yes"
						{{ "checked='checked'" if form.will.radio_will_address_group =="Yes" }}>Yes
			</label>
			<label class="block-label" for="radio-will-address-no">
				<input id="radio-will-address-no" type="radio" name="radio_will_address_group" value="No"
						{{ "checked='checked'" if form.will.radio_will_address_group =="No" }}>No
			</label>
		</fieldset>
    </div>
    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>

</main>
{% endblock %}
