{% macro address(form_action, postcode, address) %}
  <div class="form-group">
          <label for="postcode">Postcode</label>
          <input type="text" class="form-control form-control-1-8" id="postcode" name="postcode" value="{{postcode}}"> 
          <input type="submit" class="button-secondary" name="findaddress" value="Find UK address">
  </div>
  {% if form_action == 'findaddress' or address %}
	<div class="form-group">
	  <label for="address">Address</label>
	  <select id="address" class="form-control form-control-1-3" name="address">
	  	<option value="">Select address</option>
	    <option {{"selected=selected" if address=="5B, Pratt Street, London"}}>
	    	5B, Pratt Street, London
	    </option>
	    <option {{"selected=selected" if address=="11A, Pratt Street, London"}}>
	    	11A, Pratt Street, London
	    </option>
	    <option {{"selected=selected" if address=="First Floor Flat, 15, Pratt Street, London"}}>
	    	First Floor Flat, 15, Pratt Street, London
	    </option>
	    <option {{"selected=selected" if address=="Flat 1, 1-3, Pratt Street, London"}}>
	    	Flat 1, 1-3, Pratt Street, London
	    </option>
	    <option {{"selected=selected" if address=="Flat 1, Brehon House 17-19, Pratt Street, London"}}>
	    	Flat 1, Brehon House 17-19, Pratt Street, London
	    </option>
	    <option {{"selected=selected" if address=="Second Floor Flat, 15, Pratt Street, London"}}>
	    	Second Floor Flat, 15, Pratt Street, London
	    </option>
	    <option {{"selected=selected" if address=="Third Floor Flat, 15, Pratt Street, London"}}>
	    	Third Floor Flat, 15, Pratt Street, London
	    </option>
	  </select>
	</div>	
  {% endif %} 
{% endmacro %} 