<div class="form-group">
          <label for="postcode">Postcode</label>
          <input type="text" class="form-control form-control-1-8" id="postcode" name="postcode">
          <input type="submit" value="Find UK address">
</div>
<div class="form-group">
  <label for="last-address">Select address</label>
      <select id="last-address" class="form-control form-control-1-3" name="deceased_last_address">
        <option>Buckingham palace road</option>
        <option>Petty France</option>
       </select>
</div> 