<div class="form-group">
          <label for="postcode">Postcode</label>
          <input type="text" class="form-control form-control-1-8" id="postcode" name="postcode">
          <input type="submit" class="button-secondary" name="findaddress" value="Find UK address">
</div>
{% if form.form_action == 'findaddress' %}
	<div class="form-group">
	  <label for="last-address">Select address</label>
	  <select id="last-address" class="form-control form-control-1-3" name="address">
	    <option>Buckingham palace road</option>
	    <option>Petty France</option>
	  </select>
	</div>	
{% endif %} 